<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!-- Create LocalDateTime object using factory method -->
    <bean id="dateTime" class="java.time.LocalDateTime" factory-method="now"/>

    <!-- Inject into WishMessageGenerator -->
    <bean id="wishGenerator" class="com.aktech.bean.WishMessageGenerator">
        <constructor-arg ref="dateTime"/>
    </bean>

</beans>